<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp">
	<display-name>vendenet</display-name>
	<servlet>
		<servlet-name>ServletControlador</servlet-name>
		<display-name>ServletControlador</display-name>
		<servlet-class>com.vendenet.servlets.ServletControlador</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletInicio</servlet-name>
		<display-name>ServletInicio</display-name>
		<servlet-class>com.vendenet.servlets.ServletInicio</servlet-class>
		<load-on-startup/>
	</servlet>	
	<servlet-mapping>
		<servlet-name>ServletControlador</servlet-name>
		<url-pattern>/ServletControlador</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletInicio</servlet-name>
		<url-pattern>/ServletInicio</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>